.banner {
    background-image: url('../assets/banner.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 700px;
    width: 100%;
}

.title {
    color: white;
    font-size: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}