.responsive-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img-cards {
    height: 300px;
}

.bgimage {
    background-image: url(../assets/bg-image.jpg);
}

.borders {
    border-radius: 70%;
    border-color: #FA2B80;
}

.title-component {
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 3rem;
    font-size: 3rem;
}

.title-category {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-pink {
    background-color: #FA2B80;
}