.pagination-btns {
    width: 80%;
    height: 40%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    color: blanchedalmond;
}

.pagination-btns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #FA2B80;
    color: #FA2B80;
    cursor: pointer;
}

.pagination-btns a:hover {
    color: white;
    background-color: #FA2B80;
    text-decoration: none;
}

.paginationActive a {
    color: white;
    background-color: #FA2B80;
}

.test {
    background-color: #FA2B80;
}